/*==== COLORES ===== */

:root {
  --first-color: #e55947;
  --first-color-alt: #d2321e;
  --white-color: #fafaff;
  --dark-color: #101010;
  --dark-color-light: #606060;
  --gray-color: #f0f1f3;
}
.border-black {
  border: 2px solid var(--dark-color) !important;
}
/*
******
Header Style
******
*/
body {
  color: var(--dark-color-light);
  background-color: var(--white-color);
}

header {
  margin-top: 120px;
  margin-bottom: 30px;
}

.h-logo {
  width: 75%;
  text-align: right;
  border-bottom: 3px solid var(--dark-color-light);
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.h-logo .spn {
  background-color: white;
  color: var(--dark-color-light);
  padding: 0 10px;
  font-size: 5rem;
  letter-spacing: 7px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media (max-width: 757px) {
.h-logo .spn {
    font-size: 3rem;
  }
}

main {
  position: relative;
  z-index: 0;
}
main::before {
  background-color: var(--dark-color-light);
  content: "";
  height: 75%;
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 10%;
  margin-bottom: 4rem;
}

/* navbar leftside */
#col-nav {
  padding-left: 10rem;
  padding-top: 8rem;
}
@media (max-width: 992px) {
  #col-nav {
    padding-left: 3rem;
  }
}
@media (max-width: 757px) {
  #col-nav {
    padding-left: 0;
  }
}

.nav-main {
  width: 500px;
  list-style-type: none;
  background-color: transparent;
}
@media (max-width: 600px) {
  .nav-main {
    width: 200px;
    padding-left: 1rem;
    padding-top: 1rem;
  }
}

li a {
  display: block;
  color: var(--white-color);
  padding: 2px 16px;
  text-decoration: none;
  border: 1px solid var(--white-color);
}
@media (max-width: 600px) {
  .nav-main li:last-child a {
    padding-bottom: 1rem;
    margin-bottom: -2rem;
  }
}

li a:hover {
  background-color: var(--white-color);
  color: var(--dark-color);
  text-decoration: none;
  transition: 0.1s;
}
.lorem-text {
  font-size: 12px;
  color: var(--dark-color-light);
}

/* Fetch Page */
.fetch {
  margin-top: 0;
  padding: 15px;
  background-color: var(--white-color);
  border-radius: 3px;
  border: 2px solid #000;
}

.fetch .lorem-text {
  display: inline-block;
  overflow-wrap: break-word;
  max-width: 100%;
  word-wrap: break-word;
}

/* .fetch .col-md-3 {
  overflow: hidden;
} */

/* ******* Menuüpunkt-1  ******* */
.calander {
  background-color: #00f;
  /* background-color: var(--white-color); */
}
.block {
  box-sizing: border-box;
}

#labelinput {
  /* background-color: #fafafa; */
  border: 0;
  background-color: red !important;
  box-shadow: 0 0 3px rgba(120, 3, 3, 0.3);
  /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); */
  transition: 0.3s box-shadow;
}
#labelinput:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  stop-opacity: initial;
}

#mtable {
  border: 2px solid #000;
  background-color:#0808;
  /* background-color: var(--white-color); */
}

.fixed100 {
  width: 100px;
}

.description_class {
  width: 100px;
  display: block;
  overflow: hidden;
}

.jsmargin {
  margin-right: 5px;
}
/* Login Form */
.authentication-form {
  width: 30%;
  height: 60%;
  min-height: 350px;
  margin: 7% auto;
  border: 2px solid var(--dark-color);
  border-radius: 15px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.6);
  padding: 1.3em;
  background-color: var(--white-color);
    position: relative;
      z-index: 1;
      overflow: hidden;
}

@media (max-width: 1199.98px) {
  .authentication-form {
    width: 50%;
  }
}
@media (max-width: 575.98px) {
  .authentication-form {
    width: 90%;
  }
}
.authentication-form::before{
  z-index: -1;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0; 
  left:0; 
  bottom: 0;
  right: 0;
  opacity: 0.5;
  background: url('https://karriere.microlab.at/asset/770/001635/IMG_20221017_115759_8831.JPG-770.jpg');
}

